<header id="top" class="header">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>弹幕</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <style>
          #demo{color:#FFD700;
                font-size:18px; 
         }
    </style>

</head>
<body>
    
  <div id='con' ></div>
    <br>
    <h1 style="font-family:Microsoft Yahei;" align="center"><font color="Gold" style="font-size:60px">高顿双11成交金额</font></h1>
    <br>
    <h2 align="center"><font color="Gold" style="font-size:162px">￥7274010</font></h2>
    <h3 align="center"><font color="Gold" style="font-size:40px" align="center">全国最牛杭州分公司成交43单</font></h3>
    <textarea name="demo" id="demo" style= "background: transparent " rows="10" cols="35" >
    10:47重庆1单CMA
    10:45精选1单CMA，1单会员
    10:40南昌1单会员
    10:40长沙4单CMA，2单会员，1单MAT
    10:40苏州3单CMA
    10:30精选1单会员
    10:29南京5单CMA
    10:25重庆1单CMA
    10:23石家庄2单MAT
    10:22北京东城1单CMA
    10:22精选1单CMA，1单会员
    10:16杭州1单CMA,2单MAT
    10:13北京东城1单CMA，1单会员
    10:11北京三分2单CMA，1单MAT
    10:10青岛2单CMA
    10:09合肥一单CMA
    10:09大连一单MAT
    10:00成都2单MAT
    10:00济南2单MAT
    9:53精选1单CMA
    9:41精选1单CMA
    9:36哈尔滨1单CMA
    9:31太原1单CMA
    9:31广州1单CMA
    9:18虹口1单CMA
    9：10精选1单CMA
    8：56广州2单CMA
    8：46精选2单
    01：49杭州40单
    01：49精选32单
    01：49徐汇29单
    01：49广州27单
    01：49苏州26单
    01：49成都25单
    01：49哈尔滨23单
    01：49西城23单
    01：49虹口22单
    0：02精选成交CMA4单
    00：00厦门和上海徐汇各成交1单CMA
    23：35精选成交1单MAT
    23:28北京西城成交1单MAT
    23：24北京西城成交一单MAT
    23：14沈阳成交1单MAT
    22：13广州成交1单MAT
    23：04上海徐汇成交1单MAT
    23：03石家庄成交1单MAT
    22：58乌鲁木齐成交1单MAT
    22：57深圳成交1单MAT
    22：52厦门，虹口各成交1单MAT
    22：47北京西城成交1单MAT
    22：41南昌成交1单MAT
    22：40大连成交1单MAT
    22：33南昌成交1单9870
    22:32南京成交1单GFTT
    22：24重庆1单MAT
    22：22石家庄1单MAT
    22：19沈阳一单MAT
    22:11兰州2单MAT
    22：10济南，南京各1单MAT
    22：01沈阳2单MAT
    21：59重庆，乌鲁木齐，济南各1单MAT
    21：56成都1单MAT
    21：56太原1单MAT
    21:49宁波成交1单MAT
    21：48重庆成交1单MAT
    21：43浦东成交1单MAT
    21：43精选成交9800
    21：41虹口成交1单MAT
    21：40深圳成交2单MAT
    21：34成都成交2单MAT
    21：32精选1单MAT
    21：27精选1单MAT
    21：26深圳分公司1单GFTT
    21:15 天津分公司进账1单MAT
     

    </textarea>

  <script>
    
      
var mybarrage = (function($) {
   return {
    create: function(config){
        var style = '';
        style += config.area.left ? ('left:'+ config.area.left+'px;'):'';
        //style += config.area.right ? ('right:'+ config.area.right+'px;'):'';
        //style += config.area.top ? ('top:'+ config.area.top+';'):'';
        //style += 'bottom:'+ config.area.bottomNum +'%;';
    
        $("#con").append('<div id="barrage-wrapper" style="position:relative;z-index:100;'+ style +'"></div>');

        //new一个弹幕管理器
        var manage = new mybarrage.init.BarrageManager();

        manage.load();
    },
    init: function(){
        var json = [
          { id: 2, fromUserName: '李寻欢', content: "梨花剑", fromUserIcon: "https://www.baidu.com/favicon.ico" },
          { id: 3, fromUserName: '黄药师', content: "轻功", fromUserIcon: "https://www.baidu.com/favicon.ico" },
          { id: 4, fromUserName: '周杰伦', content: "唱歌", fromUserIcon: "https://www.baidu.com/favicon.ico" },
           { id: 5, fromUserName: '洪金宝', content: "功夫", fromUserIcon: "https://www.baidu.com/favicon.ico" }
        ]
        //弹幕管理器
        function BarrageManager (options) {
            this.opts = {
                url       : [],
                loadDelay : 5000 ,  // 轮询时间间隔
            }

            $.extend( this.opts , options);
            //new一个弹幕队列集合
            this.bc = new BarrageCollection();
        }

        //弹幕管理器加载数据
        BarrageManager.prototype.load = function (data) {
            var self = this ;

            if(data == null){
              data = self.opts.url;
            }
            
            for(var i = 0 ; i < data.length ; i++) {
              
                //所有初始数据转化成弹幕对象，放进弹幕队列集合中
                self.bc.add(new Barrage({
                    id:data[i].id,
                    name:data[i].fromUserName,
                    text:data[i].content,
                    icon:data[i].fromUserIcon
                }));
            }
            //弹幕管理器开始工作
            self.loop();
        }

        // 弹幕管理器工作
        BarrageManager.prototype.loop = function () {
            var len = this.bc.mq.length , self = this  ;
            while (len--) {
                // 弹幕队列集合
                this.bc.mq[len].start(this.bc , len);
            }   

            // setTimeout(function () {
            //     self.load();
            // } , this.opts.loadDelay);
        }

        function BarrageCollection () {
            this.mq = [] ;
        }

        BarrageCollection.prototype.add = function (barrage) {
            this.mq.push(barrage);
        }

        //弹幕队列集合删除弹幕
        BarrageCollection.prototype.remove = function (barrage) {
            var index = this.mq.findIndex(function (item) {
                return barrage.opts.id == item.opts.id ;
            });
            if(index != -1) {
                this.mq.splice(index , 1);
            }
            barrage.opts.$el.remove();
        }

        function Barrage (options) {
            this.opts = {
                $el         : null ,
                left        : 0 ,
                bgColor     : [Math.floor(Math.random()*255),Math.floor(Math.random()*255),Math.floor(Math.random()*255)] ,
                offset      : 1000 ,      // 使弹幕完全移出屏幕外
                duration    : 10000 ,   // 弹幕从右往左移动的时间 
                delayTime   : 1000 ,    // 弹幕延迟移动时间
            };
            $.extend( this.opts , options);
            this.init();
        }

        Barrage.prototype.init = function () {

            //this.opts.$el = $("<span class='barrageItem'><img src="+this.opts.icon+"><em>"+this.opts.name+":</em>"+this.opts.text+"</span>");
            this.opts.$el = $("<span class='barrageItem'>"+this.opts.text+"</span>");
            var top = Math.ceil(Math.random() * 10 );
            this.opts.$el.css({
                top:top * 40 +'px',
                //backgroundColor:"rgb("+this.opts.bgColor.join(",")+")",
                    color:"rgb("+this.opts.bgColor.join(",")+")",
                //right:0,
                position:'absolute'
            });

            var delay = Math.ceil(Math.random()*10);
            this.opts.delayTime *= Math.abs(delay - 5);

            //var dur = Math.ceil(Math.random() * 10);
            // this.opts.duration += dur * 1000 ; 


            $('#barrage-wrapper').append(this.opts.$el);
            this.opts.left = -this.opts.$el.width() - this.opts.offset ;
            
        }

            //弹幕开始移动
        Barrage.prototype.start = function (bc , index) {
            var self = this ;
            
        
            setTimeout(function () {
                self.move(bc);
            }, this.opts.delayTime);
        }

        //弹幕移动
        Barrage.prototype.move = function (bc) {
            var self = this ;
          // 弹幕队列集合删除这个弹幕
            this.opts.$el.animate({left:'-150%'},this.opts.duration ,"linear", function () { bc.remove(self);});

        }

        return {
            BarrageManager: BarrageManager,
            BarrageCollection: BarrageCollection,
            Barrage: Barrage
        }
    }()
   }
})($)
    
    var width = document.documentElement.offsetWidth || document.documentElement.offsetWidth||window.innerWidth
    var BarrageManager = mybarrage.init.BarrageManager;
    var Barrage = mybarrage.init.Barrage;
        
  function submit(){
    let text = $('#custmerEnter').val();
    
    let manage = new BarrageManager();

        manage.load();

        manage.bc.add(new Barrage({
            id: +new Date(),
            name: '张三风',
            text: text,
            icon: 'https://pic4.zhimg.com/da8e974dc_xs.jpg'
        }));
        manage.loop();
  
  }
  mybarrage.create({
        area:{
            left: width,
            //right: -10,
            top: '5%'
        }
    }) 
    
    

  </script>
</body>
</script>
</header>
