<header id="top" class="header">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>弹幕</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <style>
          #demo{color:#FFD700;
                font-size:18px; 
         }
    </style>

</head>
<body>
    
  <div id='con' ></div>
    <br>
    <h1 style="font-family:Microsoft Yahei;" align="center"><font color="Gold" style="font-size:60px">高顿双11成交金额</font></h1>
    <br>
    <h2 align="center"><font color="Gold" style="font-size:162px">￥11759290</font></h2>
    <h3 align="center"><font color="Gold" style="font-size:40px" align="center">恭喜单量最高-精选成交60单</font></h3>
    <h3 align="center"><font color="Gold" style="font-size:40px" align="center">恭喜分公司单量最高-杭州成交59单</font></h3>
    <h3 align="center"><font color="Gold" style="font-size:40px" align="center">恭喜分公司单量第二-广州成交55单</font></h3>
    <textarea name="demo" id="demo" style= "background: transparent " rows="10" cols="35" >
    24:00南京1单CMA
    23:59青岛1单CMA
    23:59广州1单CMA
    23:59东莞1单CMA
    23:59杭州2单CMA
    23:58虹口1单CMA
    23:58长沙1单CMA
    23:47广州1单CMA
    23:47定制服务1单CMA
    23:46广州1单CMA
    23:46徐汇1单CMA
    23:38青岛1单CMA
    23:37东莞1单MAT
    23:37广州1单CMA
    23:37徐汇1单CMA
    23:33西安1单会员19800
    23:31长沙1单CMA
    23:29成都1单CMA
    23:27精选1单CMA
    23:22广州1单MAT
    23:10广州1单MAT
    23:10成都1单MAT
    23:04杭州1单CMA
    23:00北京东城1单CMA
    22:49杭州1单MAT
    23:00成都1单MAT，1单CMA
    22:49海口1单MAT
    22:49广州2单MAT
    22:49苏州1单CMA
    22:49南京2单CMA
    22:49呼和浩特1单MAT
    22:49虹口1单CMA
    22:35呼和浩特1单MAT
    22:35长沙1单CMA
    22:35武汉1单CMA
    22:35哈尔滨1单CMA
    22:34精选1单GFTT
    22:34厦门1单CMA
    22:31长沙4单CMA
    22:31徐汇1单CMA
    22:31杭州1单CMA
    22:31虹口1单CMA
    22:31东莞1单CMA
    22:31乌鲁木齐1单CMA
    22:31沈阳1单MAT
    22:17定制服务1单22000
    22:16北京三分3单CMA
    22:08杭州3.5单CMA
    22:05重庆1单CMA，1单MAT
    21:58精选1单CMA
    21:51兰州1单CMA
    21:48长沙2单CMA
    21:48徐汇2单CMA
    21:45广州1单MAT
    21:44杭州1单CMA
    21:39苏州3单CMA，1单MAT
    21:39西安1单CMA
    21:38南京5单CMA
    21:34天津3单CMA,2单MAT，3单会员49400
    21:31海口1单MAT
    21:29济南1单CMA
    21:25徐汇1单MAT
    21:05北京西城1单CMA
    21:00广州2单CMA
    20:59南京1单CMA，1单MAT
    20:59石家庄1单CMA
    20:58精选1单CMA
    20:55成都1单CMA
    20:38太原1单CMA
    20:31西安1单MAT
    20:31长春1单MAT
    20:28精选1单会员
    20:26武汉1单CMA
    20:26杭州1单CMA
    20:18长春2单MAT
    20:18哈尔滨2单CMA
    20:05广州1单MAT
    20:05哈尔滨1单CMA
    20:04兰州1单CMA，1单GFTT
    20:04西安1单CMA
    20:04海口1单MAT
    20:03兰州1单MAT,1单CMA，1单GFTT
    20:00杭州1单CMA
    20:00长沙1单CMA
    20:00精选1单会员，1单公开课
    19:54东莞1单会员
    19:50东莞1单MAT
    19:50宁波1单MAT
    19:50精选1单会员20000
    19:49南京3单CMA
    19:48西安1单CMA
    19:45成都1单CMA
    19:45杭州1单CMA
    19:44精选1单MAT，1单公开课5700
    19:44东莞7单CMA，1单MAT，1单GFTT
    19:44浦东1单CMA
    19:42武汉2单CMA
    19:37精选1单会员19800
    19:36沈阳1单CMA
    19:36哈尔滨1单CMA
    19:34青岛1单CMA
    19:32广州1单CMA
    19:30厦门1单MAT
    19:20苏州1单CMA
    19:19杭州1单CMA
    19:15青岛1单MAT
    19:09沈阳1单MAT
    18:51沈阳1单CMA
    18:51合肥1单MAT
    18:45深圳1单MAT，1单CMA
    18:45广州1单MAT
    18:44西安1单MAT，1单GFTT，2单CMA
    18:37宁波1单CMA，1单MAT
    18:37长春1单CMA
    18:36石家庄1单CMA
    18:19济南1单CMA
    18:16哈尔滨1单CMA
    18:16乌鲁木齐1单会员
    18:13徐汇1单CMA
    18:09虹口3单MAT，1单GFTT，2单财务总监班
    17:59乌鲁木齐1单CMA
    17:58成都1单CMA
    17:51浦东1单CMA
    17:50虹口1单CMA
    17:49徐汇1单CMA
    17:41合肥1单MAT
    17:33哈尔滨2单CMA
    17:30海口1单MAT
    17:22长沙2单总监班，1单MAT
    17:21精选1单会员49800
    17:21石家庄1单MAT
    17:17成都1单MAT
    17:01青岛1单CMA
    16:52石家庄3单MAT
    16:39成都1单CMA
    16:39大连5单MAT
    16:33青岛1单MAT
    16:31浦东1单CMA
    16:26合肥1单CMA
    16:19北京三分1单CMA
    16:19长沙1单CMA
    16:19苏州1单MAT
    16:09唐山1单MAT
    16:06浦东1单会员
    15:58乌鲁木齐1单CMA
    15:58太原1单会员
    15:57精选1单CMA
    15:56重庆2单MAT，1单CMA
    15:51南昌1单MAT
    15:52太原1单GFTT
    15:43徐汇2单CMA
    15:35乌鲁木齐1单CMA
    15:36武汉2单CMA
    15:15苏州2单CMA
    15:16北京三分2单CMA，1单MAT
    15:16精选1单CMA
    15:17北京东城1单CMA，2单MAT
    15:18定制1单240000
    15：02南京1单CMA，1单MAT
    15：02成都1单CMA，1单MAT
    15：02徐汇4单CMA
    15：02广州1单CMA
    15：04东莞1单CMA
    15：06长春1单MAT
    15：06海口1单会员，1单MAT
    15：06海口1单会员
    14：41苏州1单MAT
    14：41石家庄1单CMA
    14：26北京三分1单CMA
    14：20北京三分1单CMA
    14:11长沙1单CMA，1单会员
    14：06南昌1单MAT
    14：06宁波1单CMA
    14:00哈尔滨1单CMA
    14:00杭州2单CMA
    13:45成都1单CMA，3单MAT
    13:45精选1单会员
    13:40南京1单MAT
    13:40乌鲁木齐1单MAT
    13:39苏州1单CMA
    13:29哈尔滨1单MAT
    13:29乌鲁木齐1单GFTT
    13:26精选1单MAT
    13:17浦东2单CMA
    12:30广州1单CMA
    12:10长春1单CMA
    12:09石家庄1单MAT
    12:08太原2单CMA
    12:07广州再来1单CMA
    12:00徐汇2单CMA，1单MAT
    12:00广州1单CMA
    11:40广州2单CMA
    11:35广州2单CMA
    11:34深圳一分4单CMA，2单MAT
    11:33大连1单GFTT
    11:32合肥2单CMA
    11:20定制事业部1单CMA
    11:05浦东1单CMA
    11:00定制事业部总共9单，191280元
    10:47重庆1单CMA
    10:45精选1单CMA，1单会员
    10:40南昌1单会员
    10:40长沙4单CMA，2单会员，1单MAT
    10:40苏州3单CMA
    10:30精选1单会员
    10:29南京5单CMA
    10:25重庆1单CMA
    10:23石家庄2单MAT
    10:22北京东城1单CMA
    10:22精选1单CMA，1单会员
    10:16杭州1单CMA,2单MAT
    10:13北京东城1单CMA，1单会员
    10:11北京三分2单CMA，1单MAT
    10:10青岛2单CMA
    10:09合肥一单CMA
    10:09大连一单MAT
    10:00成都2单MAT
    10:00济南2单MAT
    9:53精选1单CMA
    9:41精选1单CMA
    9:36哈尔滨1单CMA
    9:31太原1单CMA
    9:31广州1单CMA
    9:18虹口1单CMA
    9：10精选1单CMA
    8：56广州2单CMA
    8：46精选2单
    01：49杭州40单
    01：49精选32单
    01：49徐汇29单
    01：49广州27单
    01：49苏州26单
    01：49成都25单
    01：49哈尔滨23单
    01：49西城23单
    01：49虹口22单
    0：02精选成交CMA4单
    00：00厦门和上海徐汇各成交1单CMA
    23：35精选成交1单MAT
    23:28北京西城成交1单MAT
    23：24北京西城成交一单MAT
    23：14沈阳成交1单MAT
    22：13广州成交1单MAT
    23：04上海徐汇成交1单MAT
    23：03石家庄成交1单MAT
    22：58乌鲁木齐成交1单MAT
    22：57深圳成交1单MAT
    22：52厦门，虹口各成交1单MAT
    22：47北京西城成交1单MAT
    22：41南昌成交1单MAT
    22：40大连成交1单MAT
    22：33南昌成交1单9870
    22:32南京成交1单GFTT
    22：24重庆1单MAT
    22：22石家庄1单MAT
    22：19沈阳一单MAT
    22:11兰州2单MAT
    22：10济南，南京各1单MAT
    22：01沈阳2单MAT
    21：59重庆，乌鲁木齐，济南各1单MAT
    21：56成都1单MAT
    21：56太原1单MAT
    21:49宁波成交1单MAT
    21：48重庆成交1单MAT
    21：43浦东成交1单MAT
    21：43精选成交9800
    21：41虹口成交1单MAT
    21：40深圳成交2单MAT
    21：34成都成交2单MAT
    21：32精选1单MAT
    21：27精选1单MAT
    21：26深圳分公司1单GFTT
    21:15 天津分公司进账1单MAT
  </textarea>
  <style type="text/css">
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}
</style>

  <canvas id="sakura"></canvas>
<!-- sakura shader -->
<script id="sakura_point_vsh" type="x-shader/x_vertex">
uniform mat4 uProjection;
uniform mat4 uModelview;
uniform vec3 uResolution;
uniform vec3 uOffset;
uniform vec3 uDOF;  //x:focus distance, y:focus radius, z:max radius
uniform vec3 uFade; //x:start distance, y:half distance, z:near fade start

attribute vec3 aPosition;
attribute vec3 aEuler;
attribute vec2 aMisc; //x:size, y:fade

varying vec3 pposition;
varying float psize;
varying float palpha;
varying float pdist;

//varying mat3 rotMat;
varying vec3 normX;
varying vec3 normY;
varying vec3 normZ;
varying vec3 normal;

varying float diffuse;
varying float specular;
varying float rstop;
varying float distancefade;

void main(void) {
    // Projection is based on vertical angle
    vec4 pos = uModelview * vec4(aPosition + uOffset, 1.0);
    gl_Position = uProjection * pos;
    gl_PointSize = aMisc.x * uProjection[1][1] / -pos.z * uResolution.y * 0.5;

    pposition = pos.xyz;
    psize = aMisc.x;
    pdist = length(pos.xyz);
    palpha = smoothstep(0.0, 1.0, (pdist - 0.1) / uFade.z);

    vec3 elrsn = sin(aEuler);
    vec3 elrcs = cos(aEuler);
    mat3 rotx = mat3(
        1.0, 0.0, 0.0,
        0.0, elrcs.x, elrsn.x,
        0.0, -elrsn.x, elrcs.x
    );
    mat3 roty = mat3(
        elrcs.y, 0.0, -elrsn.y,
        0.0, 1.0, 0.0,
        elrsn.y, 0.0, elrcs.y
    );
    mat3 rotz = mat3(
        elrcs.z, elrsn.z, 0.0, 
        -elrsn.z, elrcs.z, 0.0,
        0.0, 0.0, 1.0
    );
    mat3 rotmat = rotx * roty * rotz;
    normal = rotmat[2];

    mat3 trrotm = mat3(
        rotmat[0][0], rotmat[1][0], rotmat[2][0],
        rotmat[0][1], rotmat[1][1], rotmat[2][1],
        rotmat[0][2], rotmat[1][2], rotmat[2][2]
    );
    normX = trrotm[0];
    normY = trrotm[1];
    normZ = trrotm[2];

    const vec3 lit = vec3(0.6917144638660746, 0.6917144638660746, -0.20751433915982237);

    float tmpdfs = dot(lit, normal);
    if(tmpdfs < 0.0) {
        normal = -normal;
        tmpdfs = dot(lit, normal);
    }
    diffuse = 0.4 + tmpdfs;

    vec3 eyev = normalize(-pos.xyz);
    if(dot(eyev, normal) > 0.0) {
        vec3 hv = normalize(eyev + lit);
        specular = pow(max(dot(hv, normal), 0.0), 20.0);
    }
    else {
        specular = 0.0;
    }

    rstop = clamp((abs(pdist - uDOF.x) - uDOF.y) / uDOF.z, 0.0, 1.0);
    rstop = pow(rstop, 0.5);
    //-0.69315 = ln(0.5)
    distancefade = min(1.0, exp((uFade.x - pdist) * 0.69315 / uFade.y));
}
</script>
<script id="sakura_point_fsh" type="x-shader/x_fragment">
#ifdef GL_ES
//precision mediump float;
precision highp float;
#endif

uniform vec3 uDOF;  //x:focus distance, y:focus radius, z:max radius
uniform vec3 uFade; //x:start distance, y:half distance, z:near fade start

const vec3 fadeCol = vec3(0.08, 0.03, 0.06);

varying vec3 pposition;
varying float psize;
varying float palpha;
varying float pdist;

//varying mat3 rotMat;
varying vec3 normX;
varying vec3 normY;
varying vec3 normZ;
varying vec3 normal;

varying float diffuse;
varying float specular;
varying float rstop;
varying float distancefade;

float ellipse(vec2 p, vec2 o, vec2 r) {
    vec2 lp = (p - o) / r;
    return length(lp) - 1.0;
}

void main(void) {
    vec3 p = vec3(gl_PointCoord - vec2(0.5, 0.5), 0.0) * 2.0;
    vec3 d = vec3(0.0, 0.0, -1.0);
    float nd = normZ.z; //dot(-normZ, d);
    if(abs(nd) < 0.0001) discard;

    float np = dot(normZ, p);
    vec3 tp = p + d * np / nd;
    vec2 coord = vec2(dot(normX, tp), dot(normY, tp));

    //angle = 15 degree
    const float flwrsn = 0.258819045102521;
    const float flwrcs = 0.965925826289068;
    mat2 flwrm = mat2(flwrcs, -flwrsn, flwrsn, flwrcs);
    vec2 flwrp = vec2(abs(coord.x), coord.y) * flwrm;

    float r;
    if(flwrp.x < 0.0) {
        r = ellipse(flwrp, vec2(0.065, 0.024) * 0.5, vec2(0.36, 0.96) * 0.5);
    }
    else {
        r = ellipse(flwrp, vec2(0.065, 0.024) * 0.5, vec2(0.58, 0.96) * 0.5);
    }

    if(r > rstop) discard;

    vec3 col = mix(vec3(1.0, 0.8, 0.75), vec3(1.0, 0.9, 0.87), r);
    float grady = mix(0.0, 1.0, pow(coord.y * 0.5 + 0.5, 0.35));
    col *= vec3(1.0, grady, grady);
    col *= mix(0.8, 1.0, pow(abs(coord.x), 0.3));
    col = col * diffuse + specular;

    col = mix(fadeCol, col, distancefade);

    float alpha = (rstop > 0.001)? (0.5 - r / (rstop * 2.0)) : 1.0;
    alpha = smoothstep(0.0, 1.0, alpha) * palpha;

    gl_FragColor = vec4(col * 0.5, alpha);
}
</script>
<!-- effects -->
<script id="fx_common_vsh" type="x-shader/x_vertex">
uniform vec3 uResolution;
attribute vec2 aPosition;

varying vec2 texCoord;
varying vec2 screenCoord;

void main(void) {
    gl_Position = vec4(aPosition, 0.0, 1.0);
    texCoord = aPosition.xy * 0.5 + vec2(0.5, 0.5);
    screenCoord = aPosition.xy * vec2(uResolution.z, 1.0);
}
</script>
<script id="bg_fsh" type="x-shader/x_fragment">
#ifdef GL_ES
//precision mediump float;
precision highp float;
#endif

uniform vec2 uTimes;

varying vec2 texCoord;
varying vec2 screenCoord;

void main(void) {
    vec3 col;
    float c;
    vec2 tmpv = texCoord * vec2(0.8, 1.0) - vec2(0.95, 1.0);
    c = exp(-pow(length(tmpv) * 1.8, 2.0));
    col = mix(vec3(0.02, 0.0, 0.03), vec3(0.96, 0.98, 1.0) * 1.5, c);
    gl_FragColor = vec4(col * 0.5, 1.0);
}
</script>
<script id="fx_brightbuf_fsh" type="x-shader/x_fragment">
#ifdef GL_ES
//precision mediump float;
precision highp float;
#endif
uniform sampler2D uSrc;
uniform vec2 uDelta;

varying vec2 texCoord;
varying vec2 screenCoord;

void main(void) {
    vec4 col = texture2D(uSrc, texCoord);
    gl_FragColor = vec4(col.rgb * 2.0 - vec3(0.5), 1.0);
}
</script>
<script id="fx_dirblur_r4_fsh" type="x-shader/x_fragment">
#ifdef GL_ES
//precision mediump float;
precision highp float;
#endif
uniform sampler2D uSrc;
uniform vec2 uDelta;
uniform vec4 uBlurDir; //dir(x, y), stride(z, w)

varying vec2 texCoord;
varying vec2 screenCoord;

void main(void) {
    vec4 col = texture2D(uSrc, texCoord);
    col = col + texture2D(uSrc, texCoord + uBlurDir.xy * uDelta);
    col = col + texture2D(uSrc, texCoord - uBlurDir.xy * uDelta);
    col = col + texture2D(uSrc, texCoord + (uBlurDir.xy + uBlurDir.zw) * uDelta);
    col = col + texture2D(uSrc, texCoord - (uBlurDir.xy + uBlurDir.zw) * uDelta);
    gl_FragColor = col / 5.0;
}
</script>
<!-- effect fragment shader template -->
<script id="fx_common_fsh" type="x-shader/x_fragment">
#ifdef GL_ES
//precision mediump float;
precision highp float;
#endif
uniform sampler2D uSrc;
uniform vec2 uDelta;

varying vec2 texCoord;
varying vec2 screenCoord;

void main(void) {
    gl_FragColor = texture2D(uSrc, texCoord);
}
</script>
<!-- post processing -->
<script id="pp_final_vsh" type="x-shader/x_vertex">
uniform vec3 uResolution;
attribute vec2 aPosition;
varying vec2 texCoord;
varying vec2 screenCoord;
void main(void) {
    gl_Position = vec4(aPosition, 0.0, 1.0);
    texCoord = aPosition.xy * 0.5 + vec2(0.5, 0.5);
    screenCoord = aPosition.xy * vec2(uResolution.z, 1.0);
}
</script>
<script id="pp_final_fsh" type="x-shader/x_fragment">
#ifdef GL_ES
//precision mediump float;
precision highp float;
#endif
uniform sampler2D uSrc;
uniform sampler2D uBloom;
uniform vec2 uDelta;
varying vec2 texCoord;
varying vec2 screenCoord;
void main(void) {
    vec4 srccol = texture2D(uSrc, texCoord) * 2.0;
    vec4 bloomcol = texture2D(uBloom, texCoord);
    vec4 col;
    col = srccol + bloomcol * (vec4(1.0) + srccol);
    col *= smoothstep(1.0, 0.0, pow(length((texCoord - vec2(0.5)) * 2.0), 1.2) * 0.5);
    col = pow(col, vec4(0.45454545454545)); //(1.0 / 2.2)

    gl_FragColor = vec4(col.rgb, 1.0);
    gl_FragColor.a = 1.0;
}
</script>

  <script src="js/index.js"></script>
<div style="text-align:center;">
</div>
      
</body>
</script>
</header>
